@media only screen and (max-width: 1250px) {
	.navbar-default .navbar-nav > li > a {     padding: 19px 14px;}
}
@media only screen and (max-width: 1180px) {
.navbar-default .navbar-nav > li > a {
	font-size: 12px;
	padding: 17px 10px;
}
.header-right-top ul li {
	font-size: 12px;
	letter-spacing: 0;
	margin-right: 5px;
}
.openning-time {
	padding: 4px 20px;
}
.openning-time h4 {
	font-size: 15px;
}
#logo {
	padding: 11px 7px;
	vertical-align: top;
}
.booking-form .book-title {
	display: inline-block;
	height: auto;
}
.booking-form form {
	padding: 25px 10px;
}
.section-first article {
	padding: 20px;
	transform: translate(0%, 2%);
}
.text-to-text h1.fade-text {font-size: 6rem;}
.text-to-text h3.text-bg {font-size: 1.1rem;top: 37px;}
.text-to-text {     min-height: 88px;}
}

@media only screen and (max-width: 991px) {
.people-say blockquote {
	font-size: 13px;
	padding: 20px;
}
header {
	position: static;
}
.navbar-default .navbar-brand {
	display: none;
	margin: 0;
	max-width: 200px;
	position: static;
}
.navbar-default .navbar-nav > li > a, .affix .navbar-default .navbar-nav > li > a {
	font-size: 12px;
	padding: 25px 3px;
}
.logo {
	margin: 0 auto;
	width: 130px;
}

.booking-form {
	max-width: 100%;
	position: relative;
	right: auto;
	top: auto;
}
#logo, .affix #logo {
	vertical-align: top;
	width: 9%;
}
.header-right, .affix .header-right {
	width: 91%;
}
.openning-time {
	font-size: 13px;
	padding: 10px;
	text-align: center;
}
.openning-time h4 {
	font-size: 13px;
}
.booking-form .book-title {
	display: block;
	text-align: center;
	width: 100%;
}
.booking-form form {
	width: 100%;
}
.booking-form form .form-group {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}
}

@media only screen and (max-width: 850px) {
}

@media only screen and (max-width: 767px) {
.header-social-links {
	padding-left: 0;
}
header .top-header ul li {
	margin-right: 0;
}
.header-right {
	width: 100%;
}
.navigation {
	background-color: #E7E5F6;
}
.banner {
	top: 0;
}
.navbar-default .navbar-brand {
	display: block;
	height: auto;
	width: 100px;
	padding: 0 5px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #222;
}
.navbar-default .navbar-toggle {
	border-color: #222;
	margin-top: 20px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #81A4E0;
	border-color: #2E3192;
}
.navbar-default .navbar-nav > li > a {
	/*border-top: 1px dashed #c17d39;*/
	padding: 10px 19px;
	text-align: left;
}
.navbar-nav .open .dropdown-menu {
	background-color: #81A4E0;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	background-color: #81A4E0;
	color: #3e3000;
}
.dropdown-menu > li > a {
	border-bottom: medium none;
	border-top: 1px dashed #81A4E0;
	text-align: left;
}
.affix .navbar-default .navbar-nav > li > a {
	padding: 10px 19px;
}
.navbar-collapse.in {
	overflow: hidden;
}
.people-say.style-2 {
	margin: 0;
	top: 0;
	width: 100%;
}
.people-say {
	top: 0;
	width: 48%;
}
.page-top {
	margin-top: 0;
	padding: 50px 0;
}
.page-title h2 {
	font-size: 20px;
}
ol.breadcrumb li {
	font-size: 14px;
}
.social-links {
	display: none;
}
.affix .header-right {
	width: 100%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: medium none;
}

.navbar-nav { margin: 0;}
.navbar-nav > li > .dropdown-menu { min-width: 100%; background-color: #81A4E0;}
.text-to-text h1.fade-text { font-size: 5rem;}
.text-to-text h3.text-bg { font-size: 1.3rem;     top: 37px;}
.text-to-text {     min-height: 88px;}
.right-half h4 {
    font-size: 3rem;
}


}

@media only screen and (max-width: 680px) {
.bottom-footer p + p {
    float: none;}
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {
}
